Repository TalWayn72/Bellor_MVP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

.lintstagedrc.json:

{
  "apps/api/src/**/*.ts": ["eslint --config apps/api/eslint.config.js --fix"],
  "apps/web/src/**/*.{js,jsx,ts,tsx}": ["eslint --config apps/web/eslint.config.js --fix"]
}

fix: allow skipping photo verification (#9)
  apps/web/src/components/onboarding/steps/StepVerification.jsx
  apps/web/src/components/onboarding/steps/StepVerification.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: clean up gender selection options
  apps/web/src/components/onboarding/steps/StepGender.jsx
  apps/web/src/components/onboarding/steps/StepGender.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: clean up gender selection options (#10)
  apps/web/src/components/onboarding/steps/StepGender.jsx
  apps/web/src/components/onboarding/steps/StepGender.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: allow comma-separated interests input
  apps/web/src/components/onboarding/steps/StepAboutYou.jsx
  apps/web/src/components/onboarding/steps/StepAboutYou.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: allow comma-separated interests input (#11)
  apps/web/src/components/onboarding/steps/StepAboutYou.jsx
  apps/web/src/components/onboarding/steps/StepAboutYou.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: keep temporary chat cancel unsent
  apps/web/src/components/feed/FeedPost.jsx
  apps/web/src/components/feed/FeedPost.test.jsx
  apps/web/src/components/feed/FeedPostActions.jsx
  apps/web/src/components/feed/FeedPostActions.test.jsx
  apps/web/src/pages/shared-space/SharedSpace.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: keep temporary chat cancel unsent (#12)
  apps/web/src/components/feed/FeedPost.jsx
  apps/web/src/components/feed/FeedPost.test.jsx
  apps/web/src/components/feed/FeedPostActions.jsx
  apps/web/src/components/feed/FeedPostActions.test.jsx
  apps/web/src/pages/shared-space/SharedSpace.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

docs: document product architecture gaps
  docs/project/OPEN_ISSUES.md
Due: none

docs: refine issues 107-109 notes
  docs/project/OPEN_ISSUES.md
Due: none

docs: document websocket chat flow
  apps/api/src/websocket/README.md
Due: none

docs: document product architecture gaps (#13)
  docs/project/OPEN_ISSUES.md
Due: none

docs: add websocket chat flow content
  apps/api/src/websocket/README.md
Due: none

docs: add chat media QA findings and chore: add workspace editor settings
  .vscode/settings.json
  docs/project/OPEN_ISSUES.md
Due: none

docs: document websocket chat flow (#14)
  apps/api/src/websocket/README.md
Due: none

docs: add chat media QA findings and chore: add workspace editor settings (#15)
  .vscode/settings.json
  docs/project/OPEN_ISSUES.md
Due: none

fix: resolve profile name and discover eligibility mismatches
  apps/web/src/pages/Discover.jsx
  apps/web/src/pages/Discover.test.jsx
  apps/web/src/pages/EditProfile.jsx
  apps/web/src/pages/EditProfile.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: keep chat presence indicators consistent
  apps/web/src/api/hooks/usePresence.js
  apps/web/src/api/hooks/usePresence.test.js
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: resolve profile name and discover eligibility mismatches (#16)
  apps/web/src/pages/Discover.jsx
  apps/web/src/pages/Discover.test.jsx
  apps/web/src/pages/EditProfile.jsx
  apps/web/src/pages/EditProfile.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: keep chat presence indicators consistent (#17)
  apps/web/src/api/hooks/usePresence.js
  apps/web/src/api/hooks/usePresence.test.js
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: resolve temporary chat user field mismatch
  apps/web/src/components/chat/TempChatCard.jsx
  apps/web/src/components/chat/TempChatCard.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: expose video message upload in chat
  apps/web/src/components/chat/ChatInput.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/chat/MessageList.test.jsx
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/pages/PrivateChat.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: resolve temporary chat user field mismatch (#18)
  apps/web/src/components/chat/TempChatCard.jsx
  apps/web/src/components/chat/TempChatCard.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: expose video message upload in chat (#19)
  apps/web/src/components/chat/ChatInput.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/chat/MessageList.test.jsx
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/pages/PrivateChat.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: add runtime field-shape fallbacks
  apps/web/src/components/admin/MonitoredChatList.jsx
  apps/web/src/components/admin/MonitoredChatList.test.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/chat/MessageList.test.jsx
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  apps/web/src/pages/VideoDate.jsx
  apps/web/src/pages/VideoDate.test.jsx
  apps/web/src/pages/shared-space/useSharedSpaceData.js
  apps/web/src/pages/shared-space/useSharedSpaceData.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: add drawing message entry point
  apps/web/src/components/chat/ChatDrawingModal.jsx
  apps/web/src/components/chat/ChatInput.jsx
  apps/web/src/components/chat/ChatInput.test.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/chat/MessageList.test.jsx
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/components/hooks/usePrivateChatActions.test.jsx
  apps/web/src/pages/PrivateChat.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: add runtime field-shape fallbacks (#20)
  apps/web/src/components/admin/MonitoredChatList.jsx
  apps/web/src/components/admin/MonitoredChatList.test.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/chat/MessageList.test.jsx
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  apps/web/src/pages/VideoDate.jsx
  apps/web/src/pages/VideoDate.test.jsx
  apps/web/src/pages/shared-space/useSharedSpaceData.js
  apps/web/src/pages/shared-space/useSharedSpaceData.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: add drawing message entry point (#21)
  apps/web/src/components/chat/ChatDrawingModal.jsx
  apps/web/src/components/chat/ChatInput.jsx
  apps/web/src/components/chat/ChatInput.test.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/chat/MessageList.test.jsx
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/components/hooks/usePrivateChatActions.test.jsx
  apps/web/src/pages/PrivateChat.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: support drawing messages in REST fallback
  apps/api/src/routes/v1/chats-schemas.ts
  apps/api/src/test/integration/controllers/chat.controller.integration.test.ts
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/components/hooks/usePrivateChatActions.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: preserve chat context after video call
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  apps/web/src/pages/VideoDate.jsx
  apps/web/src/pages/VideoDate.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: support drawing messages in REST fallback (#22)
  apps/api/src/routes/v1/chats-schemas.ts
  apps/api/src/test/integration/controllers/chat.controller.integration.test.ts
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/components/hooks/usePrivateChatActions.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: preserve chat context after video call (#23)
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  apps/web/src/pages/VideoDate.jsx
  apps/web/src/pages/VideoDate.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: show incoming video call notification
  apps/api/src/test/integration/websocket-chat.integration.test.ts
  apps/api/src/websocket/handlers/chat.handler.ts
  apps/api/src/websocket/handlers/video-call.handler.ts
  apps/web/src/api/hooks/useChatRoom.js
  apps/web/src/api/hooks/useChatRoom.test.js
  apps/web/src/api/services/socket/socketChatMethods.js
  apps/web/src/api/services/socketService.test.js
  apps/web/src/components/chat/IncomingVideoCallDialog.jsx
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
  apps/web/src/components/chat/videoCallInvite.js
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: show incoming video call notification (#24)
  apps/api/src/test/integration/websocket-chat.integration.test.ts
  apps/api/src/websocket/handlers/chat.handler.ts
  apps/api/src/websocket/handlers/video-call.handler.ts
  apps/web/src/api/hooks/useChatRoom.js
  apps/web/src/api/hooks/useChatRoom.test.js
  apps/web/src/api/services/socket/socketChatMethods.js
  apps/web/src/api/services/socketService.test.js
  apps/web/src/components/chat/IncomingVideoCallDialog.jsx
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
  apps/web/src/components/chat/videoCallInvite.js
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

feat(admin): add Vlogix AI response analysis panel
  apps/api/src/controllers/admin.controller.ts
  apps/api/src/controllers/admin/admin-vlogix.controller.test.ts
  apps/api/src/controllers/admin/admin-vlogix.controller.ts
  apps/api/src/routes/v1/admin.routes.ts
  apps/web/src/App.jsx
  apps/web/src/api/services/adminService.ts
  apps/web/src/api/services/adminVlogixService.ts
  apps/web/src/components/admin/AdminNav.jsx
  apps/web/src/components/admin/vlogix/VlogixAnalysisPanel.jsx
  apps/web/src/components/admin/vlogix/VlogixResponseHistory.jsx
  apps/web/src/components/admin/vlogix/VlogixUserDetailDialog.jsx
  apps/web/src/components/admin/vlogix/VlogixUsersTable.jsx
  apps/web/src/components/admin/vlogix/vlogixAnalysisUtils.js
  apps/web/src/pages.config.js
  apps/web/src/pages/AdminVlogixAI.jsx
  apps/web/src/pages/AdminVlogixAI.test.jsx
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix(chat): wire read receipts state and added ISSUE-121 for future improvment
  apps/api/src/services/chat-actions.service.test.ts
  apps/api/src/services/chat/chat-messages-mutations.service.ts
  apps/api/src/services/chat/chat-messages-queries.service.ts
  apps/api/src/services/chat/chat-messages.types.ts
  apps/api/src/test/integration/controllers/chat.controller.integration.test.ts
  apps/api/src/test/integration/websocket-chat-actions.integration.test.ts
  apps/api/src/websocket/handlers/chat-read.handler.ts
  apps/web/src/components/hooks/usePrivateChatReadReceipts.js
  apps/web/src/components/providers/socket-events.js
  apps/web/src/components/providers/socket-events.test.js
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  apps/web/src/utils/documentActivity.js
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix(chat): wire read receipts state and added ISSUE-121 for future improvment
  apps/web/src/pages/PrivateChat.jsx
Due: eslint --config apps/web/eslint.config.js --fix

feat(admin): add Vlogix AI response analysis panel (#25)
  apps/api/src/controllers/admin.controller.ts
  apps/api/src/controllers/admin/admin-vlogix.controller.test.ts
  apps/api/src/controllers/admin/admin-vlogix.controller.ts
  apps/api/src/routes/v1/admin.routes.ts
  apps/web/src/App.jsx
  apps/web/src/api/services/adminService.ts
  apps/web/src/api/services/adminVlogixService.ts
  apps/web/src/components/admin/AdminNav.jsx
  apps/web/src/components/admin/vlogix/VlogixAnalysisPanel.jsx
  apps/web/src/components/admin/vlogix/VlogixResponseHistory.jsx
  apps/web/src/components/admin/vlogix/VlogixUserDetailDialog.jsx
  apps/web/src/components/admin/vlogix/VlogixUsersTable.jsx
  apps/web/src/components/admin/vlogix/vlogixAnalysisUtils.js
  apps/web/src/pages.config.js
  apps/web/src/pages/AdminVlogixAI.jsx
  apps/web/src/pages/AdminVlogixAI.test.jsx
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

Chat day3 typing read receipts (#26)
  apps/api/src/services/chat-actions.service.test.ts
  apps/api/src/services/chat/chat-messages-mutations.service.ts
  apps/api/src/services/chat/chat-messages-queries.service.ts
  apps/api/src/services/chat/chat-messages.types.ts
  apps/api/src/test/integration/controllers/chat.controller.integration.test.ts
  apps/api/src/test/integration/websocket-chat-actions.integration.test.ts
  apps/api/src/websocket/handlers/chat-read.handler.ts
  apps/web/src/components/hooks/usePrivateChatReadReceipts.js
  apps/web/src/components/providers/socket-events.js
  apps/web/src/components/providers/socket-events.test.js
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/PrivateChat.test.jsx
  apps/web/src/utils/documentActivity.js
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix
