Repository TalWayn72/Bellor_MVP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

feat: automated memory leak detection system (ISSUE-031)
  .github/workflows/memory-leak-check.yml
  .lintstagedrc.json
  CLAUDE.md
  README.md
  apps/api/prisma/schema.prisma
  apps/api/prisma/seed-data/content.ts
  apps/api/prisma/seed-data/financial.ts
  apps/api/prisma/seed-data/moderation.ts
  apps/api/prisma/seed-data/responses-stories.ts
  apps/api/prisma/seed-data/technical.ts
  apps/api/prisma/seed-data/users-3.ts
  apps/api/prisma/seed.ts
  apps/api/src/test/memory-leak-detection.test.ts
  apps/api/src/test/migration/seed-integrity.test.ts
  apps/web/src/test/memory-leak-detection.test.ts
  check-memory.ps1
  package.json
  scripts/check-memory-leaks.js
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: comprehensive memory leak fixes - 24 leaks resolved (ISSUE-031 + ISSUE-032)
  apps/api/src/websocket/handlers/chat-messaging.handler.ts
  apps/api/src/websocket/handlers/chat.handler.ts
  apps/api/src/websocket/handlers/presence.handler.ts
  apps/api/src/websocket/index.ts
  apps/web/src/components/ui/carousel.jsx
  apps/web/src/components/ui/upload.jsx
  apps/web/src/pages/LiveChat.jsx
  apps/web/src/pages/OAuthCallback.jsx
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/ReferralProgram.jsx
  apps/web/src/pages/SharedSpace.jsx
  apps/web/src/pages/Splash.jsx
  apps/web/src/pages/UserVerification.jsx
  docs/OPEN_ISSUES.md
  scripts/check-memory-leaks.js
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: test infrastructure improvements - backend mocks + frontend memory optimization (TASK-057, TASK-058)
  apps/api/src/test/integration/controllers/stories.controller.integration.test.ts
  apps/api/src/test/integration/controllers/subscriptions-admin.controller.integration.test.ts
  apps/api/src/test/integration/controllers/upload.controller.integration.test.ts
  apps/api/src/test/integration/controllers/users.controller.integration.test.ts
  apps/api/src/test/setup.ts
  apps/web/package.json
  apps/web/test-results.txt
  apps/web/vitest.config.js
  docs/OPEN_ISSUES.md
  package-lock.json
Due: eslint --config apps/api/eslint.config.js --fix

fix: test infrastructure improvements - backend mocks + frontend memory optimization (TASK-057, TASK-058)
  CLAUDE.md
  README.md
  apps/api/src/app.ts
  apps/api/src/lib/memory-monitor.test.ts
  apps/api/src/lib/memory-monitor.ts
  apps/api/src/lib/metrics.ts
  apps/api/src/test/integration/health.test.ts
  docs/OPEN_ISSUES.md
  infrastructure/monitoring/prometheus/alert-rules.yml
  scripts/ast-utils.js
  scripts/check-memory-leaks.js
  scripts/index.js
  scripts/memory-leak-ast-analyzer.js
Due: eslint --config apps/api/eslint.config.js --fix

fix: remove all explicit `any` types from WebSocket integration tests (TASK-058)
  apps/api/src/test/integration/websocket-chat-actions.integration.test.ts
  apps/api/src/test/integration/websocket-chat.integration.test.ts
  apps/api/src/test/integration/websocket-connection.integration.test.ts
  apps/api/src/test/integration/websocket-edge-cases.integration.test.ts
  apps/api/src/test/integration/websocket-presence.integration.test.ts
  apps/api/src/test/integration/websocket-test-helpers.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: health integration test uses standalone Fastify instance + add missing Prisma mocks (TASK-058)
  apps/api/src/test/integration/health.test.ts
  apps/api/src/test/setup.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: resolve Onboarding→SharedSpace redirect race condition + prevent across all pages (ISSUE-033)
  README.md
  apps/api/src/routes/v1/oauth.routes.ts
  apps/web/src/pages/AdminReportManagement.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/Login.test.jsx
  apps/web/src/pages/Onboarding.jsx
  apps/web/src/pages/Onboarding.test.jsx
  apps/web/src/pages/Settings.jsx
  apps/web/src/pages/Settings.test.jsx
  apps/web/src/pages/shared-space/SharedSpace.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: race condition audit - stale closures, media leaks, finally anti-patterns (ISSUE-034)
  apps/api/src/websocket/index.ts
  apps/web/src/contexts/NavigationContext.jsx
  apps/web/src/pages/AdminUserManagement.jsx
  apps/web/src/pages/Discover.jsx
  apps/web/src/pages/EditProfile.jsx
  apps/web/src/pages/Stories.jsx
  apps/web/src/pages/UserVerification.jsx
  apps/web/src/pages/VideoDate.jsx
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: allow year editing in birth date field + E2E regression test (ISSUE-065)
  apps/web/e2e/full-stack/forms-validation.spec.ts
  apps/web/e2e/full-stack/onboarding-flow.spec.ts
  apps/web/src/components/onboarding/steps/StepBirthDate.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: toast notifications cannot be closed - 3 root causes (ISSUE-066)
  apps/web/e2e/full-stack/modals-dialogs.spec.ts
  apps/web/src/components/ui/toast.jsx
  apps/web/src/components/ui/toaster.jsx
  apps/web/src/components/ui/toaster.test.jsx
  apps/web/src/components/ui/use-toast.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: profile fields not persisted after onboarding (ISSUE-067)
  apps/api/src/services/users.service.ts
  apps/web/e2e/full-stack/edge-cases.spec.ts
  apps/web/src/components/onboarding/utils/onboardingUtils.js
  apps/web/src/pages/Onboarding.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

feat: add demo chat messages for all 5 demo users (TASK-068)
  apps/web/src/data/demo/demoContent.js
  apps/web/src/data/demo/demoHelpers.js
  apps/web/src/data/demo/demoMessages.js
  apps/web/src/pages/PrivateChat.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: send message dialog untypeable textarea + missing chat navigation (ISSUE-069)
  apps/web/e2e/chat.spec.ts
  apps/web/src/components/comments/CommentInputDialog.jsx
  apps/web/src/pages/UserProfile.jsx
  apps/web/src/pages/shared-space/SharedSpace.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

chore: update CLAUDE.md instructions + make age field read-only in profile edit
  CLAUDE.md
  apps/web/src/components/profile/EditProfileForm.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: remove send message dialog, navigate directly to PrivateChat (ISSUE-069)
  apps/web/e2e/chat.spec.ts
  apps/web/src/pages/UserProfile.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: onboarding step 5 data loss + global text contrast across all steps (ISSUE-070, ISSUE-071)
  apps/web/e2e/onboarding.spec.ts
  apps/web/src/api/hooks/useNotifications.js
  apps/web/src/api/hooks/usePresence.js
  apps/web/src/api/services/socketService.js
  apps/web/src/components/onboarding/steps/StepAboutYou.jsx
  apps/web/src/components/onboarding/steps/StepBirthDate.jsx
  apps/web/src/components/onboarding/steps/StepDrawing.jsx
  apps/web/src/components/onboarding/steps/StepFirstQuestion.jsx
  apps/web/src/components/onboarding/steps/StepGender.jsx
  apps/web/src/components/onboarding/steps/StepLocation.jsx
  apps/web/src/components/onboarding/steps/StepNickname.jsx
  apps/web/src/components/onboarding/steps/StepPhoneLogin.jsx
  apps/web/src/components/onboarding/steps/StepPhoneVerify.jsx
  apps/web/src/components/onboarding/steps/StepPhotos.jsx
  apps/web/src/components/onboarding/steps/StepSketchMode.jsx
  apps/web/src/components/onboarding/steps/StepSplash.jsx
  apps/web/src/components/onboarding/steps/StepVerification.jsx
  apps/web/src/components/onboarding/utils/onboardingUtils.js
  apps/web/src/components/onboarding/utils/onboardingUtils.test.js
  apps/web/src/pages/Onboarding.jsx
  apps/web/src/pages/PrivateChat.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: SharedSpace crash - location object rendered as React child (ISSUE-072)
  apps/web/src/components/chat/TemporaryChatRequestDialog.jsx
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/pages/PrivateChat.jsx
  apps/web/src/pages/Profile.test.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

feat: implement PrivateChat image/voice buttons + WhatsApp-style date separators (ISSUE-073)
  apps/api/src/websocket/handlers/chat-send.handler.ts
  apps/web/src/components/chat/ChatInput.jsx
  apps/web/src/components/chat/MessageList.jsx
  apps/web/src/components/hooks/usePrivateChatActions.js
  apps/web/src/pages/PrivateChat.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: correct test:memory-leak script to run tests in separate workspaces
  package.json
Due: none

docs: add ISSUE-075 - CI/CD Memory Leak Detection Workflow Fix
  docs/project/OPEN_ISSUES.md
Due: none

fix: GitHub Actions workflows not triggering on master branch (ISSUE-078)
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
  .github/workflows/test.yml
  CLAUDE.md
  docs/project/OPEN_ISSUES.md
Due: none

feat: pre-deployment quality hardening for Oracle Cloud Free Tier (ISSUE-080)
  apps/api/src/controllers/subscriptions.controller.ts
  apps/api/src/controllers/subscriptions/subscriptions-schemas.ts
  apps/api/src/lib/logger-core.ts
  apps/api/src/lib/logger-rotation.ts
  apps/api/src/lib/prisma.ts
  apps/api/src/lib/redis.ts
  apps/api/src/routes/v1/chats-crud.routes.ts
  apps/api/src/routes/v1/chats-messages.routes.ts
  apps/api/src/routes/v1/chats-schemas.ts
  apps/api/src/services/users/users-gdpr.service.ts
  docker-compose.oracle-free.yml
  docs/project/OPEN_ISSUES.md
  infrastructure/monitoring/promtail/promtail-config.yml
  scripts/backup-db.sh
  scripts/restore-db.sh
  scripts/setup-ssl.sh
Due: eslint --config apps/api/eslint.config.js --fix

feat: Oracle Cloud deployment + dotenv dependency fix (ISSUE-081)
  DOCKER_SETUP.md
  apps/api/package.json
  docker-compose.oracle-free.yml
  infrastructure/docker/Dockerfile.api
  infrastructure/docker/Dockerfile.web
  infrastructure/docker/nginx.conf
  scripts/create-oracle-vm.py
  scripts/deploy-oracle.sh
  scripts/push-to-server.sh
  scripts/setup-ssl.sh
Due: none

fix: add /api/v1 prefix to VITE_API_URL in all deployment configs (ISSUE-082)
  .env.example
  .github/workflows/ci.yml
  .github/workflows/test.yml
  docker-compose.oracle-free.yml
  docker-compose.prod.yml
  docs/project/OPEN_ISSUES.md
  infrastructure/docker/docker-compose.all-in-one.yml
Due: none

fix: HTTPS Mixed Content + nginx proxy + build URL validation (ISSUE-083)
  CLAUDE.md
  README.md
  apps/web/e2e/fixtures/console-warning.helpers.ts
  docs/project/OPEN_ISSUES.md
  docs/security/SECURITY_CHECKLIST.md
  package.json
  scripts/check-build-urls.js
Due: none

fix: mission schema mismatch + upload 413 nginx config (ISSUE-084, ISSUE-085)
  CLAUDE.md
  README.md
  apps/api/src/config/security-validation.config.ts
  apps/web/src/pages/AudioTask.jsx
  apps/web/src/pages/AudioTask.test.jsx
  apps/web/src/pages/VideoTask.constants.js
  apps/web/src/pages/VideoTask.jsx
  apps/web/src/pages/VideoTask.test.jsx
  apps/web/src/pages/WriteTask.constants.js
  apps/web/src/pages/WriteTask.jsx
  apps/web/src/pages/WriteTask.test.jsx
  docs/project/OPEN_ISSUES.md
  docs/security/SECURITY_CHECKLIST.md
  package-lock.json
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: socketService test missing tokenStorage mock + README test counts (ISSUE-086)
  README.md
  apps/web/src/api/services/socketService.test.js
Due: eslint --config apps/web/eslint.config.js --fix

docs: nginx proxy_pass recurring 404 fix documentation (ISSUE-087)
  docs/project/OPEN_ISSUES.md
Due: none

fix: E2E fullstack infrastructure - JWT refresh, rate limits, nginx watchdog (ISSUE-088)
  apps/web/e2e/full-stack/admin-pages.spec.ts
  apps/web/e2e/full-stack/auth-login.spec.ts
  apps/web/e2e/full-stack/auth-registration.spec.ts
  apps/web/e2e/full-stack/auth-session.spec.ts
  apps/web/e2e/full-stack/chat-messaging.spec.ts
  apps/web/e2e/full-stack/chat-realtime.spec.ts
  apps/web/e2e/full-stack/console-warnings.spec.ts
  apps/web/e2e/full-stack/content-tasks.spec.ts
  apps/web/e2e/full-stack/discover-swiping.spec.ts
  apps/web/e2e/full-stack/edge-cases.spec.ts
  apps/web/e2e/full-stack/error-states.spec.ts
  apps/web/e2e/full-stack/feed-interactions.spec.ts
  apps/web/e2e/full-stack/file-uploads.spec.ts
  apps/web/e2e/full-stack/forms-validation.spec.ts
  apps/web/e2e/full-stack/fullstack-base.ts
  apps/web/e2e/full-stack/infinite-scroll.spec.ts
  apps/web/e2e/full-stack/matches-likes.spec.ts
  apps/web/e2e/full-stack/misc-pages.spec.ts
  apps/web/e2e/full-stack/modals-dialogs.spec.ts
  apps/web/e2e/full-stack/navigation-history.spec.ts
  apps/web/e2e/full-stack/notifications.spec.ts
  apps/web/e2e/full-stack/onboarding-flow.spec.ts
  apps/web/e2e/full-stack/premium-features.spec.ts
  apps/web/e2e/full-stack/profile-management.spec.ts
  apps/web/e2e/full-stack/safety-legal.spec.ts
  apps/web/e2e/full-stack/search.spec.ts
  apps/web/e2e/full-stack/settings-pages.spec.ts
  apps/web/e2e/full-stack/social-features.spec.ts
  apps/web/e2e/full-stack/special-pages.spec.ts
  apps/web/e2e/full-stack/stories.spec.ts
  apps/web/e2e/global-setup.ts
  docs/project/OPEN_ISSUES.md
Due: none

fix: resilient E2E selectors + loading state fallbacks for 25 failing tests (ISSUE-088)
  apps/web/e2e/full-stack/content-tasks.spec.ts
  apps/web/e2e/full-stack/discover-swiping.spec.ts
  apps/web/e2e/full-stack/error-states.spec.ts
  apps/web/e2e/full-stack/feed-interactions.spec.ts
  apps/web/e2e/full-stack/forms-validation.spec.ts
  apps/web/e2e/full-stack/matches-likes.spec.ts
  apps/web/e2e/full-stack/notifications.spec.ts
  apps/web/e2e/full-stack/social-features.spec.ts
  apps/web/e2e/full-stack/stories.spec.ts
Due: none

fix: E2E fullstack tests - 0 failures on Run 12 (ISSUE-088)
  apps/web/e2e/full-stack/console-warnings.spec.ts
  apps/web/e2e/full-stack/content-tasks.spec.ts
  apps/web/e2e/full-stack/notifications.spec.ts
  apps/web/e2e/full-stack/onboarding-flow.spec.ts
  apps/web/e2e/full-stack/safety-legal.spec.ts
  apps/web/e2e/full-stack/social-features.spec.ts
  apps/web/e2e/full-stack/special-pages.spec.ts
  docs/project/OPEN_ISSUES.md
Due: none

fix: E2E fullstack 0 failures Run 19 - 3-layer token strategy + test resilience (ISSUE-088)
  apps/api/src/app.ts
  apps/web/e2e/full-stack/auth-login.spec.ts
  apps/web/e2e/full-stack/auth-session.spec.ts
  apps/web/e2e/full-stack/chat-messaging.spec.ts
  apps/web/e2e/full-stack/fullstack-base.ts
  apps/web/e2e/full-stack/safety-legal.spec.ts
  apps/web/e2e/full-stack/social-features.spec.ts
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix

Path conditions:
  eslint --config apps/api/eslint.config.js --fix: any of: apps/api/src/**/*.ts
  eslint --config apps/web/eslint.config.js --fix: any of: apps/web/src/**/*.{js,jsx,ts,tsx}
