Repository TalWayn72/Bellor_MVP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

.lintstagedrc.json:

{
  "apps/api/src/**/*.ts": ["eslint --config apps/api/eslint.config.js --fix"],
  "apps/web/src/**/*.{js,jsx,ts,tsx}": ["eslint --config apps/web/eslint.config.js --fix"]
}

fix: per-file lucide-react mocks to prevent OOM in all failing CI shards
  apps/web/src/components/ui/toast.test.jsx
  apps/web/src/components/ui/toaster.test.jsx
  apps/web/src/pages/Achievements.test.jsx
  apps/web/src/pages/AudioTask.test.jsx
  apps/web/src/pages/Creation.test.jsx
  apps/web/src/pages/Discover.test.jsx
  apps/web/src/pages/EditProfile.test.jsx
  apps/web/src/pages/FilterSettings.test.jsx
  apps/web/src/pages/IceBreakers.test.jsx
  apps/web/src/pages/LiveChat.test.jsx
  apps/web/src/pages/Matches.test.jsx
  apps/web/src/pages/NotificationSettings.test.jsx
  apps/web/src/pages/Premium.test.jsx
  apps/web/src/pages/PrivacyPolicy.test.jsx
  apps/web/src/pages/PrivacySettings.test.jsx
  apps/web/src/pages/Profile.test.jsx
  apps/web/src/pages/ProfileBoost.test.jsx
  apps/web/src/pages/VideoDate.test.jsx
  apps/web/src/pages/VideoTask.test.jsx
  apps/web/src/pages/VirtualEvents.test.jsx
  apps/web/src/pages/Welcome.test.jsx
  apps/web/src/pages/WriteTask.test.jsx
  apps/web/src/test/setup.js
Due: eslint --config apps/web/eslint.config.js --fix

fix: complete lucide-react icon list with 12 missing icons (Inbox, Award, etc.)
  apps/web/src/components/ui/toast.test.jsx
  apps/web/src/components/ui/toaster.test.jsx
  apps/web/src/pages/Achievements.test.jsx
  apps/web/src/pages/AudioTask.test.jsx
  apps/web/src/pages/Creation.test.jsx
  apps/web/src/pages/Discover.test.jsx
  apps/web/src/pages/EditProfile.test.jsx
  apps/web/src/pages/FilterSettings.test.jsx
  apps/web/src/pages/IceBreakers.test.jsx
  apps/web/src/pages/LiveChat.test.jsx
  apps/web/src/pages/Matches.test.jsx
  apps/web/src/pages/NotificationSettings.test.jsx
  apps/web/src/pages/Premium.test.jsx
  apps/web/src/pages/PrivacyPolicy.test.jsx
  apps/web/src/pages/PrivacySettings.test.jsx
  apps/web/src/pages/Profile.test.jsx
  apps/web/src/pages/ProfileBoost.test.jsx
  apps/web/src/pages/VideoDate.test.jsx
  apps/web/src/pages/VideoTask.test.jsx
  apps/web/src/pages/VirtualEvents.test.jsx
  apps/web/src/pages/Welcome.test.jsx
  apps/web/src/pages/WriteTask.test.jsx
  apps/web/src/test/setup.js
  check_ci.py
Due: eslint --config apps/web/eslint.config.js --fix

fix: stable useCurrentUser mock refs to prevent infinite render loops (OOM root cause)
  apps/web/src/components/ui/toaster.test.jsx
  apps/web/src/pages/Achievements.test.jsx
  apps/web/src/pages/Analytics.test.jsx
  apps/web/src/pages/AudioTask.test.jsx
  apps/web/src/pages/BlockedUsers.test.jsx
  apps/web/src/pages/CompatibilityQuiz.test.jsx
  apps/web/src/pages/CreateStory.test.jsx
  apps/web/src/pages/Creation.test.jsx
  apps/web/src/pages/DateIdeas.test.jsx
  apps/web/src/pages/EditProfile.test.jsx
  apps/web/src/pages/EmailSupport.test.jsx
  apps/web/src/pages/Feedback.test.jsx
  apps/web/src/pages/FilterSettings.test.jsx
  apps/web/src/pages/FollowingList.test.jsx
  apps/web/src/pages/IceBreakers.test.jsx
  apps/web/src/pages/LiveChat.test.jsx
  apps/web/src/pages/Matches.test.jsx
  apps/web/src/pages/NotificationSettings.test.jsx
  apps/web/src/pages/Notifications.test.jsx
  apps/web/src/pages/Premium.test.jsx
  apps/web/src/pages/PrivacySettings.test.jsx
  apps/web/src/pages/ProfileBoost.test.jsx
  apps/web/src/pages/ReferralProgram.test.jsx
  apps/web/src/pages/SafetyCenter.test.jsx
  apps/web/src/pages/Settings.test.jsx
  apps/web/src/pages/SharedSpace.test.jsx
  apps/web/src/pages/Stories.test.jsx
  apps/web/src/pages/TemporaryChats.test.jsx
  apps/web/src/pages/ThemeSettings.test.jsx
  apps/web/src/pages/UserProfile.test.jsx
  apps/web/src/pages/UserVerification.test.jsx
  apps/web/src/pages/VideoDate.test.jsx
  apps/web/src/pages/VideoTask.test.jsx
  apps/web/src/pages/VirtualEvents.test.jsx
  apps/web/src/pages/WriteTask.test.jsx
  apps/web/src/test/lucide-react-stub.js
  apps/web/vitest.config.js
Due: eslint --config apps/web/eslint.config.js --fix

fix: add prisma generate before E2E database setup in CI workflows
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix: add catch-all API mock auto-fixture to prevent E2E test hangs
  apps/web/e2e/accessibility.spec.ts
  apps/web/e2e/api-client.spec.ts
  apps/web/e2e/auth.spec.ts
  apps/web/e2e/chat.spec.ts
  apps/web/e2e/feed.spec.ts
  apps/web/e2e/fixtures/auth.helpers.ts
  apps/web/e2e/fixtures/fullstack-auth.helpers.ts
  apps/web/e2e/fixtures/index.ts
  apps/web/e2e/matches.spec.ts
  apps/web/e2e/navigation.spec.ts
  apps/web/e2e/notifications.spec.ts
  apps/web/e2e/onboarding-date-validation.spec.ts
  apps/web/e2e/onboarding-drawing.spec.ts
  apps/web/e2e/onboarding.spec.ts
  apps/web/e2e/profile.spec.ts
  apps/web/e2e/settings.spec.ts
  apps/web/e2e/temporary-chats-bio.spec.ts
  apps/web/e2e/visual/visual-regression.spec.ts
Due: none

fix: optimize E2E test timeouts and abort external requests
  apps/web/e2e/fixtures/auth.helpers.ts
  apps/web/playwright.config.ts
Due: none

fix: increase E2E workers to 4 and reduce test timeout to 15s
  apps/web/playwright.config.ts
Due: none

fix: set global CI test timeout to 15s and exclude visual regression
  apps/web/playwright.config.ts
Due: none

fix: run only chromium project in E2E CI and make non-blocking
  .github/workflows/test.yml
  apps/web/playwright.config.ts
Due: none

fix: add image retry mechanism and fix profileImages race condition (ISSUE-103)
  apps/api/src/routes/v1/uploads/upload-handlers.ts
  apps/web/e2e/visual/onboarding-photos-visual.spec.ts
  apps/web/src/components/onboarding/steps/StepPhotos.jsx
  apps/web/src/hooks/useImageRetry.js
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: resolve true root cause of recurring photo "Load failed" (ISSUE-103)
  apps/api/src/routes/v1/auth/auth-handlers.ts
  apps/api/src/routes/v1/uploads/upload-handlers.ts
  apps/api/src/routes/v1/uploads/upload-presigned.ts
  apps/api/src/services/storage/storage-utils.ts
  apps/api/src/services/storage/upload-core.ts
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix

fix: sanitize localhost:3000 URLs in profileImages (ISSUE-103)
  apps/api/src/services/storage/storage-utils.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: clear srcObject on video stop to fix black playback (ISSUE-104)
  apps/web/src/components/tasks/VideoRecorder.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: sanitize localhost URLs in Response.content (ISSUE-105)
  apps/api/src/services/responses.service.ts
  apps/api/src/services/responses/response-utils.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: resolve 3 CI failures — flaky auth test, K8s deploy, R2 secret names (ISSUE-106)
  .github/workflows/cd.yml
  apps/api/src/routes/v1/auth/auth-handlers.ts
  apps/api/src/test/factories/user.factory.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: persist country/city selections in Onboarding and EditProfile (ISSUE-107)
  apps/web/e2e/fixtures/factories/user.factory.ts
  apps/web/e2e/location-persistence.spec.ts
  apps/web/src/components/onboarding/steps/StepLocation.jsx
  apps/web/src/components/profile/EditProfileForm.jsx
  apps/web/src/data/countries.js
  apps/web/src/pages/EditProfile.jsx
  apps/web/src/pages/Onboarding.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix(api): handle empty strings for optional URL env vars + add handover package
  apps/api/src/config/env.ts
  handover/01-GETTING-STARTED.md
  handover/02-EXTERNAL-SERVICES.md
  handover/03-CI-CD-SECRETS.md
  handover/04-PROJECT-OVERVIEW.md
  handover/05-HANDOVER-CHECKLIST.md
  handover/README.md
  handover/docs/api/API_ENDPOINTS.md
  handover/docs/api/NEW_API_CLIENT.md
  handover/docs/architecture/ARCHITECTURE.md
  handover/docs/deployment/BETA_LAUNCH_CHECKLIST.md
  handover/docs/deployment/CLOUD_AGNOSTIC_DEPLOYMENT.md
  handover/docs/deployment/DEPLOYMENT_INFRASTRUCTURE_COMPLETE.md
  handover/docs/deployment/FREE_HOSTING_OPTIONS.md
  handover/docs/deployment/GOOGLE_PLAY_DEPLOYMENT.md
  handover/docs/deployment/MOBILE_RELEASE_CHECKLIST.md
  handover/docs/deployment/ORACLE_CLOUD_QA_DEPLOYMENT.md
  handover/docs/deployment/QUICK_DEPLOY_GUIDE.md
  handover/docs/development/DOCKER_SETUP_WINDOWS.md
  handover/docs/development/GUIDELINES.md
  handover/docs/product/MOBILE_APP_REQUIREMENTS.md
  handover/docs/product/PRD.md
  handover/docs/project/OPEN_ISSUES.md
  handover/docs/project/PROJECT_STATUS.md
  handover/docs/security/DATA_RETENTION_POLICY.md
  handover/docs/security/INCIDENT_RESPONSE.md
  handover/docs/security/SECURITY_CHECKLIST.md
  handover/docs/security/SECURITY_PLAN.md
  handover/docs/testing/CONVENTIONS.md
  handover/docs/testing/E2E_FULLSTACK.md
  handover/docs/testing/TEST_REGISTRY.md
  handover/hebrew-docs/20260103_סקירה כללית.docx
  handover/hebrew-docs/20260328_Bellor_דוח טכני.docx
  handover/hebrew-docs/מסמך ניהול המוצר.docx
  handover/repo-files/CLAUDE.md
  handover/repo-files/DOCKER_SETUP.md
  handover/repo-files/README.md
  handover/repo-files/env.example.txt
Due: eslint --config apps/api/eslint.config.js --fix

Fix frontend auth token normalization
  apps/web/src/api/client/apiClient.auth-header.test.ts
  apps/web/src/api/client/apiClient.ts
  apps/web/src/api/services/authService.ts
  apps/web/src/api/services/authTokenResponse.test.ts
  apps/web/src/api/services/authTokenResponse.ts
Due: eslint --config apps/web/eslint.config.js --fix

fix: add missing prisma:seed root script + repair mobile-build.yml
  .github/workflows/mobile-build.yml
  package.json
Due: none

fix: bump Node.js minimum to 20.19+ to match jsdom@28 transitive ESM deps
  README.md
  handover/01-GETTING-STARTED.md
  handover/04-PROJECT-OVERVIEW.md
  package.json
Due: none

Fix frontend auth token normalization (#1)
  apps/web/src/api/client/apiClient.auth-header.test.ts
  apps/web/src/api/client/apiClient.ts
  apps/web/src/api/services/authService.ts
  apps/web/src/api/services/authTokenResponse.test.ts
  apps/web/src/api/services/authTokenResponse.ts
Due: eslint --config apps/web/eslint.config.js --fix

fix: redirect home based on auth state
  apps/web/src/pages/Home.jsx
  apps/web/src/pages/Home.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: redirect home based on auth state (#2)
  apps/web/src/pages/Home.jsx
  apps/web/src/pages/Home.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix(dev): make dev:all reliably start both API and Web on Windows
  package.json
Due: none

fix(dev): use concurrently --raw so tsx watch starts under dev:all
  package.json
Due: none

fix: support local drawing uploads without R2
  apps/api/src/services/storage.service.test.ts
  apps/api/src/services/storage.service.ts
  apps/web/src/api/client/apiClient.test.ts
  apps/web/src/api/client/apiClient.ts
  apps/web/src/api/services/uploadService.ts
  apps/web/src/components/onboarding/steps/StepDrawing.jsx
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: support local drawing uploads without R2 (#3)
  apps/api/src/services/storage.service.test.ts
  apps/api/src/services/storage.service.ts
  apps/web/src/api/client/apiClient.test.ts
  apps/web/src/api/client/apiClient.ts
  apps/web/src/api/services/uploadService.ts
  apps/web/src/components/onboarding/steps/StepDrawing.jsx
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: include isAdmin in auth responses
  apps/api/src/services/auth-login.service.test.ts
  apps/api/src/services/auth-register.service.test.ts
  apps/api/src/services/auth/auth-login.service.ts
  apps/api/src/services/auth/auth-types.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: remove duplicate Bellor Today menu item
  apps/web/src/components/navigation/DrawerMenuItems.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: include isAdmin in auth responses (#4)
  apps/api/src/services/auth-login.service.test.ts
  apps/api/src/services/auth-register.service.test.ts
  apps/api/src/services/auth/auth-login.service.ts
  apps/api/src/services/auth/auth-types.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: remove duplicate Bellor Today menu item (#5)
  apps/web/src/components/navigation/DrawerMenuItems.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: clarify temporary chat UX
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
  apps/web/src/components/chat/TemporaryChatRequestDialog.jsx
  apps/web/src/components/feed/FeedPostActions.jsx
  apps/web/src/components/feed/FeedPostActions.test.jsx
  apps/web/src/pages/PrivateChat.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: clarify temporary chat UX (#6)
  apps/web/src/components/chat/PrivateChatHeader.jsx
  apps/web/src/components/chat/PrivateChatHeader.test.jsx
  apps/web/src/components/chat/TemporaryChatRequestDialog.jsx
  apps/web/src/components/feed/FeedPostActions.jsx
  apps/web/src/components/feed/FeedPostActions.test.jsx
  apps/web/src/pages/PrivateChat.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: send permanent chat intent from write response
  apps/web/src/api/services/chatService.test.js
  apps/web/src/api/services/chatService.ts
Due: eslint --config apps/web/eslint.config.js --fix

fix: send permanent chat intent from write response (#7)
  apps/web/src/api/services/chatService.test.js
  apps/web/src/api/services/chatService.ts
Due: eslint --config apps/web/eslint.config.js --fix

docs: add onboarding audit findings
  docs/project/OPEN_ISSUES.md
Due: none

docs: align open issues with issue template
  docs/project/OPEN_ISSUES.md
Due: none

Docs/onboarding audit findings (#8)
  docs/project/OPEN_ISSUES.md
Due: none

fix: allow skipping photo verification
  apps/web/src/components/onboarding/steps/StepVerification.jsx
  apps/web/src/components/onboarding/steps/StepVerification.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix
