Repository TalWayn72/Bellor_MVP: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

chore: quality verification suite ISSUE-089 - k6 fix + full test results
  apps/web/playwright-report/index.html
  apps/web/playwright-report/results.json
  docs/project/OPEN_ISSUES.md
  infrastructure/k6/smoke-test.js
Due: none

fix: npm audit - patch 9 vulnerabilities including react-router XSS, axios DoS
  package-lock.json
Due: none

fix: resolve 40 ESLint warnings + fix comment send bug (ISSUE-090)
  apps/api/src/config/sentry.config.ts
  apps/api/src/controllers/admin/admin-analytics.controller.ts
  apps/api/src/controllers/admin/admin-content.controller.ts
  apps/api/src/controllers/admin/admin-users.controller.ts
  apps/api/src/middleware/auth.middleware.ts
  apps/api/src/routes/v1/chats-schemas.ts
  apps/api/src/security/csrf-protection.ts
  apps/api/src/security/image-processor.ts
  apps/api/src/services/missions.service.ts
  apps/api/src/services/missions/mission-generator.ts
  apps/api/src/services/push-notifications/notification-sender.ts
  apps/api/src/services/storage.service.ts
  apps/api/src/services/subscriptions.service.ts
  apps/api/src/services/subscriptions/subscriptions-management.service.ts
  apps/api/src/services/subscriptions/subscriptions-webhook-payments.service.ts
  apps/api/src/services/subscriptions/subscriptions-webhooks.service.ts
  apps/api/src/services/subscriptions/subscriptions.types.ts
  apps/api/src/services/users/users.types.ts
  apps/api/src/test/helpers/mockHelpers.ts
  apps/api/src/utils/jwt.util.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: login 500 for OAuth users with null passwordHash (ISSUE-091)
  apps/api/src/services/auth/auth-login.service.ts
Due: eslint --config apps/api/eslint.config.js --fix

docs: add ISSUE-090 comment bug + ISSUE-091 login 500 to OPEN_ISSUES
  docs/project/OPEN_ISSUES.md
Due: none

fix: rate limit returns 429 instead of 500 + login error logging (ISSUE-091)
  apps/api/src/app-routes.ts
  apps/api/src/routes/v1/auth/auth-handlers.ts
Due: eslint --config apps/api/eslint.config.js --fix

fix: ESLint Web 0 warnings + TypeScript source 0 errors + PM2 memory config
  apps/web/src/Layout.jsx
  apps/web/src/components/chat/MessageReactionPicker.jsx
  apps/web/src/components/comments/CommentsList.jsx
  apps/web/src/components/feed/FeedPost.jsx
  apps/web/src/components/feed/FeedPostActions.jsx
  apps/web/src/components/feed/HeartResponseSelector.jsx
  apps/web/src/components/feed/MentionExtractor.jsx
  apps/web/src/components/feed/StarSendersModal.jsx
  apps/web/src/components/matches/MatchCard.jsx
  apps/web/src/components/notifications/NotificationItem.jsx
  apps/web/src/components/onboarding/ProgressBar.jsx
  apps/web/src/components/onboarding/steps/StepPhoneVerify.jsx
  apps/web/src/components/profile/FollowingCard.jsx
  apps/web/src/components/providers/ThemeProvider.jsx
  apps/web/src/components/settings/BlockedUserCard.jsx
  apps/web/src/components/stories/StoryUserAvatar.jsx
  apps/web/src/components/tasks/VideoRecorder.jsx
  apps/web/src/components/ui/button.d.ts
  apps/web/src/components/ui/input.d.ts
  apps/web/src/components/ui/textarea.d.ts
  apps/web/src/pages/Achievements.jsx
  apps/web/src/pages/AdminActivityMonitoring.jsx
  apps/web/src/pages/AudioTask.jsx
  apps/web/src/pages/BlockedUsers.jsx
  apps/web/src/pages/CompatibilityQuiz.jsx
  apps/web/src/pages/DateIdeas.jsx
  apps/web/src/pages/Discover.jsx
  apps/web/src/pages/Feedback.jsx
  apps/web/src/pages/FollowingList.jsx
  apps/web/src/pages/IceBreakers.jsx
  apps/web/src/pages/Matches.jsx
  apps/web/src/pages/NotificationSettings.jsx
  apps/web/src/pages/Notifications.jsx
  apps/web/src/pages/ReferralProgram.jsx
  apps/web/src/pages/TemporaryChats.jsx
  apps/web/src/pages/UserProfile.jsx
  apps/web/src/pages/VideoTask.jsx
  apps/web/src/pages/WriteTask.jsx
  apps/web/src/vite-env.d.ts
  ecosystem.config.cjs
Due: eslint --config apps/web/eslint.config.js --fix

fix: TypeScript test files 186 → 0 errors (all workspaces clean)
  apps/web/src/api/client/apiClient.test.ts
  apps/web/src/components/ui/dialog.d.ts
  apps/web/src/jest-axe.d.ts
  apps/web/src/test/a11y/components/Button.a11y.test.tsx
  apps/web/src/test/a11y/components/Dialog.a11y.test.tsx
  apps/web/src/test/a11y/components/Form.a11y.test.tsx
  apps/web/src/test/a11y/components/Navigation.a11y.test.tsx
  apps/web/src/test/a11y/components/SecureTextArea.a11y.test.tsx
  apps/web/src/test/a11y/components/SecureTextInput.a11y.test.tsx
  apps/web/src/test/contract/auth-api-contract.test.ts
  apps/web/src/test/memory-leak-detection.test.ts
  apps/web/src/vitest-axe-matchers.d.ts
Due: eslint --config apps/web/eslint.config.js --fix

docs: add ISSUE-092 QA server OOM freeze + deploy notes
  docs/project/OPEN_ISSUES.md
Due: none

fix: E2E test resilience - increase timeouts + broaden URL patterns (5 failures)
  apps/web/e2e/full-stack/auth-login.spec.ts
  apps/web/e2e/full-stack/special-pages.spec.ts
  apps/web/e2e/full-stack/stories.spec.ts
Due: none

feat: add server watchdog script for OOM prevention + auto-recovery
  scripts/server-watchdog.sh
Due: none

fix: memory optimization for 1GB VMs - QA recovery + production hardening
  apps/api/src/app-middleware.ts
  apps/api/src/lib/memory-monitor.ts
  apps/api/src/lib/prisma.ts
  docs/project/OPEN_ISSUES.md
  ecosystem.config.cjs
  scripts/server-watchdog.sh
Due: eslint --config apps/api/eslint.config.js --fix

feat: GDPR test fixes + security 100% + health monitoring + mobile CI/CD
  .github/workflows/cd.yml
  .github/workflows/health-monitor.yml
  .github/workflows/mobile-build.yml
  README.md
  apps/api/src/controllers/admin/admin-content.controller.ts
  apps/api/src/controllers/device-tokens.controller.ts
  apps/api/src/routes/v1/uploads/upload-presigned.ts
  apps/api/src/services/users-delete.service.test.ts
  apps/api/src/services/users-test-helpers.ts
  apps/api/src/test/contract/user-schema-compliance.test.ts
  apps/api/src/test/integration/users.integration.test.ts
  apps/api/src/test/mocks/prisma.mock.ts
  docs/project/OPEN_ISSUES.md
  docs/security/SECURITY_CHECKLIST.md
Due: eslint --config apps/api/eslint.config.js --fix

feat: Phase 10 Mobile - Capacitor plugins, lifecycle hooks, deep links (30%→70%)
  README.md
  apps/web/package.json
  apps/web/public/.well-known/apple-app-site-association
  apps/web/public/.well-known/assetlinks.json
  apps/web/src/hooks/useAppLifecycle.ts
  apps/web/src/hooks/useNetworkStatus.ts
  apps/web/src/hooks/usePushNotifications.ts
  apps/web/src/lib/capacitor-init.ts
  apps/web/src/main.jsx
  docs/project/OPEN_ISSUES.md
  package-lock.json
Due: eslint --config apps/web/eslint.config.js --fix

fix: remove demo ID guards blocking all user interactions (ISSUE-095)
  apps/api/src/controllers/follows.controller.ts
  apps/api/src/controllers/likes.controller.ts
  apps/api/src/controllers/likes/likes-response.controller.ts
  apps/api/src/routes/v1/chats-crud.routes.ts
  apps/api/src/routes/v1/chats-messages.routes.ts
  apps/web/src/api/services/chatService.ts
  apps/web/src/components/comments/CommentInputDialog.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: Feed screen UI - compact mission card, visible posts, dating nav (ISSUE-096)
  apps/web/src/components/feed/MissionCard.jsx
  apps/web/src/components/profile/ProfileBookTab.jsx
  apps/web/src/pages/shared-space/BottomNavigation.jsx
  apps/web/src/pages/shared-space/FeedSection.jsx
  apps/web/src/pages/shared-space/SharedSpace.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: drawing canvas color picker only renders black strokes (ISSUE-097)
  apps/web/e2e/onboarding-drawing.spec.ts
  apps/web/src/components/onboarding/steps/StepDrawing.jsx
  apps/web/src/pages/AudioTask.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: video recording 00:00 / not saving - cross-browser codec + duration (ISSUE-100)
  apps/web/src/components/feed/FeedPost.jsx
  apps/web/src/components/tasks/AudioRecorder.jsx
  apps/web/src/components/tasks/AudioRecorderUI.jsx
  apps/web/src/components/tasks/VideoRecorder.jsx
  apps/web/src/components/tasks/recorderUtils.js
  apps/web/src/components/tasks/useRecordingTimer.js
  apps/web/src/pages/AudioTask.test.jsx
  apps/web/src/pages/VideoTask.jsx
  apps/web/src/pages/VideoTask.test.jsx
Due: eslint --config apps/web/eslint.config.js --fix

fix: voice recording iOS fail + response type case mismatch (ISSUE-098)
  apps/api/src/services/storage/storage-utils.ts
  apps/web/src/utils/responseTransformer.js
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

fix: onboarding photos not saving - use server-authoritative profileImages (ISSUE-099)
  apps/api/src/routes/v1/uploads/upload-handlers.ts
  apps/web/src/api/services/uploadService.ts
  apps/web/src/components/onboarding/steps/StepPhotos.jsx
  apps/web/src/components/onboarding/utils/onboardingUtils.js
  apps/web/src/components/onboarding/utils/onboardingUtils.test.js
  apps/web/src/pages/Onboarding.jsx
Due: eslint --config apps/api/eslint.config.js --fix, eslint --config apps/web/eslint.config.js --fix

docs: add deployment status to ISSUE-095 through ISSUE-100
  docs/project/OPEN_ISSUES.md
Due: none

fix: web tests OOM + test isolation + assertion fix
  apps/web/src/test/setup.js
  apps/web/src/utils/responseTransformer.test.js
  apps/web/vitest.config.js
Due: eslint --config apps/web/eslint.config.js --fix

feat: Phase 10 Android signing config + Phase 11 beta checklist
  apps/web/android/app/build.gradle
  docs/deployment/BETA_LAUNCH_CHECKLIST.md
  docs/deployment/MOBILE_RELEASE_CHECKLIST.md
Due: none

feat: Android keystore + deep links SHA256 + gitignore security
  .gitignore
  apps/web/public/.well-known/assetlinks.json
Due: none

fix: onboarding photos not displaying - useEffect guard + stale closure + error handling (ISSUE-101)
  apps/web/src/components/onboarding/steps/StepPhotos.jsx
  apps/web/src/pages/Onboarding.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: local storage URLs use root-relative paths instead of localhost (ISSUE-101)
  apps/api/src/routes/v1/uploads/upload-presigned.ts
  apps/api/src/services/storage/storage-utils.ts
  apps/web/vite.config.js
Due: eslint --config apps/api/eslint.config.js --fix

fix: video playback black screen - playsInline + autoPlay + preload + error handling (ISSUE-102)
  apps/web/src/components/tasks/VideoRecorder.jsx
  apps/web/src/pages/VideoTask.jsx
  docs/project/OPEN_ISSUES.md
Due: eslint --config apps/web/eslint.config.js --fix

fix: CI/CD pipeline failures - Docker build, security scan, OOM, load tests
  .github/workflows/ci.yml
  .github/workflows/memory-leak-check.yml
  apps/web/android/app/capacitor.build.gradle
  apps/web/android/capacitor.settings.gradle
  apps/web/vitest.config.js
  infrastructure/docker/Dockerfile.api
  infrastructure/docker/Dockerfile.web
  package.json
Due: none

fix: Docker workspace symlinks + memory leak scan + security permissions
  .github/workflows/ci.yml
  apps/web/src/components/providers/socket-reconnection.js
  infrastructure/docker/Dockerfile.api
  infrastructure/docker/Dockerfile.web
Due: eslint --config apps/web/eslint.config.js --fix

fix: Docker API build - exclude test barrel files from tsc compilation
  apps/api/tsconfig.json
Due: none

fix: separate tsconfig.build.json to exclude test files without breaking ESLint
  apps/api/package.json
  apps/api/tsconfig.build.json
  apps/api/tsconfig.json
Due: none

fix: Docker web build - remove non-existent apps/web/node_modules COPY
  infrastructure/docker/Dockerfile.web
Due: none

fix: Docker web runner - use built-in nginx user instead of www-data
  infrastructure/docker/Dockerfile.web
Due: none

fix: CI Test Web hanging + E2E missing frontend server
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix: CI Test Web bypass cross-env + increase timeouts to 45min
  .github/workflows/ci.yml
  .github/workflows/test.yml
Due: none

fix: CI-aware test configs - single fork vitest + faster Playwright
  .github/workflows/ci.yml
  apps/web/playwright.config.ts
  apps/web/vitest.config.js
Due: none

fix: remove coverage from CI Test Web for performance
  .github/workflows/ci.yml
Due: none

fix: CI vitest use singleFork + no isolation for speed
  apps/web/vitest.config.js
Due: none

fix: restore test isolation in CI (singleFork + isolate)
  apps/web/vitest.config.js
Due: none

fix: increase CI Test Web memory to 6GB for singleFork + isolate
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --config apps/api/eslint.config.js --fix: any of: apps/api/src/**/*.ts
  eslint --config apps/web/eslint.config.js --fix: any of: apps/web/src/**/*.{js,jsx,ts,tsx}
